{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'weather/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <span class="navbar-brand">Weather App</span>
        </div>
    </nav>

    <div class="container">
        <!-- Weather Card -->
        <div class="weather-card">
            <form method="POST" class="weather-form">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="city" placeholder="Enter city name" required class="city-input">
                    <button type="submit" class="weather-form button">Button</button>
                </div>
            </form>
            {% if weather_data %}
            <h2 class="city-name">Weather in {{ weather_data.city }}</h2>
            <div>
                <img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="weather icon" class="weather-icon">
            </div>
            <div class="weather-info">
                <p class="temp">
                    {{ weather_data.temperature }}°C
                    <i class="fas fa-thermometer-half data-icon" title="Temperature"></i> <!-- Temperature icon -->
                </p>
                <p class="condition">
                    {{ weather_data.description }}
                    <i class="fas fa-cloud data-icon" title="Condition"></i> <!-- Condition icon -->
                </p>
                <p class="humidity">
                    Humidity: {{ weather_data.humidity }}%
                    <i class="fas fa-tint data-icon" title="Humidity"></i> <!-- Humidity icon -->
                </p>
                <p class="wind-speed">
                    Wind Speed: {{ weather_data.wind_speed }} m/s
                    <i class="fas fa-wind data-icon" title="Wind Speed"></i> <!-- Wind speed icon -->
                </p>
                <p class="pressure">
                    Pressure: {{ weather_data.pressure }} hPa
                    <i class="fas fa-weight-hanging data-icon" title="Pressure"></i> <!-- Pressure icon -->
                </p>
            </div>
            {% endif %}
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Weather App. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
